<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<form method="post">
    <div class="row">
        <div class="form-group">
            <label>First Sellers First Name
                <input th:field="${sellersInformation.firstName}" class="form-control">
            </label>
            <span th:errors="${sellersInformation.firstName}" class="error"></span>
        </div>
        <div class="form-group">
            <label> First Sellers Last Name
                <input th:field="${sellersInformation.lastName}" class="form-control">
            </label>
            <span th:errors="${sellersInformation.lastName}" class="error"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Second Sellers First Name
                <input th:field="${sellersInformation.secondFirstName}" class="form-control">
            </label>
            <span th:errors="${sellersInformation.secondFirstName}" class="error"></span>
        </div>
        <div class="form-group">
            <label> Second Sellers Last Name
                <input th:field="${sellersInformation.secondLastName}" class="form-control">
            </label>
            <span th:errors="${sellersInformation.secondLastName}" class="error"></span>
        </div>
    </div>
    <div class="form-group">
        <label>Contact Phone Number
            <input th:field="${sellersInformation.contactNumber}" class="form-control">
        </label>
        <span th:errors="${sellersInformation.contactNumber}" class="error"></span>
    </div>
    <div class="form-group">
        <label>Contact Email Address
            <input th:field="${sellersInformation.email}" class="form-control">
        </label>
        <span th:errors="${sellersInformation.email}" class="error"></span>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Realtor First Name
                <input th:field="${sellersInformation.realtorFirstName}" class="form-control">
            </label>
            <span th:errors="${sellersInformation.realtorFirstName}" class="error"></span>
        </div>
        <div class="form-group">
            <label>Realtor Last Name
                <input th:field="${sellersInformation.realtorLastName}" class="form-control">
            </label>
            <span th:errors="${sellersInformation.realtorLastName}" class="error"></span>
        </div>
    </div>
    <input type ="submit" value="Realtor Information" class="btn btn-success">
</form>

</body>
</html>