<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<form method="post">
    <div class="row">
    <div class="form-group">
        <label>First Buyers First Name
            <input th:field="${buyersInformation.firstName}" class="form-control">
        </label>
        <span th:errors="${buyersInformation.firstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label> First Buyers Last Name
        <input th:field="${buyersInformation.lastName}" class="form-control">
        </label>
        <span th:errors="${buyersInformation.lastName}" class="error"></span>
    </div>
    </div>
    <div class="row">
    <div class="form-group">
    <label>Second Buyers First Name
        <input th:field="${buyersInformation.secondFirstName}" class="form-control">
    </label>
        <span th:errors="${buyersInformation.secondFirstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label> Second Buyers Last Name
            <input th:field="${buyersInformation.secondLastName}" class="form-control">
        </label>
        <span th:errors="${buyersInformation.secondLastName}" class="error"></span>
    </div>
    </div>
    <div class="form-group">
        <label>Contact Phone Number
            <input th:field="${buyersInformation.contactNumber}" class="form-control">
        </label>
        <span th:errors="${buyersInformation.contactNumber}" class="error"></span>
    </div>
    <div class="form-group">
        <label>Contact Email Address
            <input th:field="${buyersInformation.email}" class="form-control">
        </label>
        <span th:errors="${buyersInformation.email}" class="error"></span>
    </div>
    <input type ="submit" value="Seller Information" class="btn btn-success">
</form>

</body>
</html>